<!DOCTYPE html>
{%extends 'jobseeker/jobseekerbase.html'%}

 {%block body_block%}

<div class="container mt-3">


     <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      {%if messages%}
        {%for message in messages%}
        {%if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="text-danger">
          {{message}}
        </div>
        {%endif%}
        {%endfor%}
        {%endif%}
    </div>
    <div class="col-3"></div>
  </div>


    <div class="row">
        <div class="col-2">
<!--            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->



        </div>
        <div class="col-8">
            <h1>Jobs</h1>
           <form action="" method="post">
                {%csrf_token%}
               <table class="table">
                   <tr>
                       <td><strong>Company</strong></td>
                       <td><strong>POSTS</strong></td>
                       <td><strong>EXPERIENCE</strong></td>
                       <td><strong>DESCRIPTION</strong></td>
                       <td colspan="2"><strong>Actions</strong></td>
                   </tr>

                   {%for comp in company%}


                   <tr>{{comp.application_status}}
                       {{comp.job.company.company_name}}
                       <td>{{comp.job.company.company_name}}</td>
                       <td>{{comp.job.post_name}}</td>
                       <td>{{comp.job.experience}}</td>
                       <td>{{comp.job.description}}</td>
                       <td>{{comp.application_status}}</td>





                   </tr>

{%endfor%}

               </table>

            </form>

        </div>
        <div class="col-2"></div>
    </div>
</div>
{%endblock%}


